<div class="widget widget-about">
						<div class="widget-about-img"><img alt="" src="{{ asset('uploads/') }}{{ data.image }}"></div>
						<h3>{{ data.username }}</h3>
						<div class="social-ul">
							<ul>
								<li class="social-facebook"><a href="{{ data.facebook }}"><i class="fa fa-facebook"></i></a></li>
								<li class="social-twitter"><a href="{{ data.twitter }}"><i class="fa fa-twitter"></i></a></li>
								<li class="social-google"><a href="{{ data.googleplus }}"><i class="fa fa-google-plus"></i></a></li>
								<li class="social-linkedin"><a href="{{ data.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
								<li class="social-youtube"><a href="{{ data.youtube }}"><i class="fa fa-youtube-play"></i></a></li>
							</ul>
						</div><!-- End social-ul -->
						<div class="clearfix"></div>
					</div><!-- End widget -->