{% extends 'styleadmin.html.twig' %}
{% block title %}
<title>{% trans from "article" %} article {% endtrans %}</title>
{% endblock %}
{% block mainblock %}
<style>
.textsize
{
width:400px;
}
</style>
<div class="main-content">
				  <div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>			
<center><b>{% trans from "article" %} article {% endtrans %}</b></center>						
					</div>
					<div class="page-content"><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								<div class="row"><!-- /span -->
                                <h4 class="pink">
<i class="icon-hand-right icon-animated-hand-pointer blue"></i>
<a href="{{ path('addadminarticle',{'_locale' : app.request.locale })}}" role="button"  class="green"  >{% trans from "article" %} add article {% endtrans %} </a>
</h4>
								</div><!-- /row -->
								<div class="row">
								  <div class="col-xs-12">
										
										<div class="table-header">
										{% trans from "article" %} article {% endtrans %}
										</div>

										<div class="table-responsive">
											<table id="" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
													
														<th>{% trans from "public" %} name {% endtrans %}</th>
														<th>{% trans from "public" %} image {% endtrans %}</th>
														<th>{% trans from "public" %} Actions {% endtrans %}</th>
													</tr>
												</thead>

												<tbody>
												
												
												
												{% for article in data %}
													<tr>
				<td>{{ article.name }}</td>
				<td><img src="{{ asset('uploadsarticle/')}}{{ article.image }}" style="width:100px;"></td>
<td>
															<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
		

<a class="green" href="{{ path('editadminarticle',{'_locale' : app.request.locale,'articleid' : article.id}) }}">	
                                                            
																	<i class="icon-pencil bigger-130"></i>
																</a>

<a class="red" href="{{ path('deleteadminarticle',{'_locale' : app.request.locale,'articleid' : article.id}) }}">
																	<i class="icon-trash bigger-130"></i>
																</a>
																
															</div>

															<div class="visible-xs visible-sm hidden-md hidden-lg">
																<div class="inline position-relative">
																	<button class="btn btn-minier btn-yellow dropdown-toggle" >
																		<i class="icon-caret-down icon-only bigger-120"></i>
																	</button>

																	<ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
																		<li>
																			<a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																				<span class="blue">
																					<i class="icon-zoom-in bigger-120"></i>
																				</span>
																			</a>
																		</li>

																		<li>
															 															
																		
				<a href="#" class="tooltip-success" data-rel="tooltip"  title="Edit">
				
																				<span class="green">
																					<i class="icon-edit bigger-120"></i>
																				</span>
																			</a>
																		</li>

																		<li>
																			<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																				<span class="red">
																					<i class="icon-trash bigger-120"></i>
																				</span>
																			</a>
																		</li>
																	</ul>
																</div>
															</div>
														</td>
				
													</tr>
													{% endfor %}
													
											  </tbody>
											</table>
										</div>
								  </div>
							  </div>
							  {% endblock %}
							  